@using Microsoft.AspNet.Identity

@if (User.Identity.IsAuthenticated)
{
    <span> Добро пожаловать @User.Identity.Name </span>
    <form action="~/Account/Logout">
        <input type="submit" value="Выйти" />
    </form>
}
else
{
    <form action="~/Account/Login" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="returnUrl" value="@Request.RawUrl." />
        <input type="text" name="userName" placeholder="Логин"
               value="@if (@ViewBag.UserName != null) { @ViewBag.UserName; }" />
        <input type="text" name="password" placeholder="Пароль" />
        <input type="submit" value="Войти" />
        <span>@ViewBag.LoginError</span>
    </form>
    @Html.ActionLink("Зарегестрироваться", "Register", "Account",
                    new { returnUrl = Request.RawUrl }, null);
}
